<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mia_hand_on_ur_flange">

  <!-- Mia hand -->
  <xacro:include filename="$(find mia_hand_description)/urdf/mia_hand.urdf.xacro" />

  <xacro:mia_hand_robot/>

  <!-- UR flange -->
  <link name="URflange">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual name="UR_flange">
      <origin xyz="-0.023781363 -0.039999999 0.03784062" rpy="2.879793167 -1.3e-08 1.570796371"/>
      <geometry>
        <mesh filename="package://mia_hand_description/meshes/stl/1.001.stl" scale="0.000999987 0.000999987 0.000999987"/>
      </geometry>
      <material name="DEFAULT_MTL.001"/>
    </visual>
    <collision name="UR_flange">
      <origin xyz="-0.023781363 -0.039999999 0.03784062" rpy="2.879793167 -1.3e-08 1.570796371"/>
      <geometry>
        <mesh filename="package://mia_hand_description/meshes/stl/1.001.stl" scale="0.000999987 0.000999987 0.000999987"/>
      </geometry>
      <material name="DEFAULT_MTL.001"/>
    </collision>
  </link>

  <!-- Make connection -->
  <joint name="j_URflange" type="fixed">
    <origin xyz="0 -0.022566028 -0.000111314" rpy="-1.570796251 -1.570796251 0"/>
    <parent link="palm"/>
    <child link="URflange"/>
  </joint>

  <!-- Set colors -->
  <material name="DEFAULT_MTL.001">
    <color rgba="0.640000019 0.640000019 0.640000019 1.0"/>
  </material>

  <!-- Set gazebo colors for URflange-->
  <gazebo reference="URflange">
    <material>Gazebo/Grey</material>
    <selfCollide>False</selfCollide>
  </gazebo>

  <!-- Add probe frame -->
  <link name = "probe"/>

  <joint name="probe_joint" type="fixed">
    <origin xyz="0.082 0 0.018" rpy="0 0 0" />
    <parent link="URflange" />
    <child link="probe" />
  </joint>

</robot>