<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="onrobot_hex">

  <link name="hex_mounting_plate">
    <inertial>
      <origin xyz="0 0 0.016" rpy="-${pi/2} 0 0"/>
      <mass value="0.245"/>
      <inertia ixx="${99 / 1000000}" ixy="0" ixz="0" iyy="${142 / 1000000}" iyx="0" iyz="${-0.2 / 1000000}" izz="${99 / 1000000}" izx="0" izy="${-0.2 / 1000000}"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.016" rpy="-${pi/2} 0 0" />
      <geometry>
          <mesh filename="package://artificial_hands_description/meshes/visual/onrobot_hex_e.stl"/>
      </geometry>
      <material name="onrobot-grey">
          <color rgba="0.4 0.4 0.4 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.016" rpy="-${pi/2} 0 0" />
      <geometry>
          <mesh filename="package://artificial_hands_description/meshes/collision/onrobot_hex_e.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="hex_ee_mounting_plate"/>

  <joint name="hex_ee_mounting_joint" type="fixed">
    <origin xyz="0 0 0.037" rpy="0 0 0" />
    <parent link="hex_mounting_plate" />
    <child link="hex_ee_mounting_plate" />
  </joint>

  <link name="hex_sensor_frame"/>

  <joint name="hex_sensor_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="hex_ee_mounting_plate" />
    <child link="hex_sensor_frame" />
  </joint>

  <gazebo reference="hex_mounting_plate">
    <selfCollide>False</selfCollide>
  </gazebo>

    <!-- Enable joint feedback representing the ft_sensor-->
  <gazebo reference="hex_sensor_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
    <provideFeedback>true</provideFeedback>
  </gazebo>
  
  <!-- The ft_sensor plugin -->
  <gazebo>
    <plugin name="gazebo_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>500.0</updateRate>
        <topicName>hex_ft_sensor</topicName>
        <!-- <gaussianNoise>0.0</gaussianNoise> -->
        <jointName>hex_sensor_joint</jointName>
    </plugin>
  </gazebo>  

</robot>