<?xml version="1.0"?>
<launch>

  <arg name="sim" default="true" />
  
  <!-- Load moveit planning and execution interface -->
  <include file="$(find mia_hand_on_ur5_moveit_config)/launch/mia_hand_on_ur5_planning_and_execution.launch">
    <arg name="sim" value="$(arg sim)"/>
  </include>

  <!-- Load moveit servo server -->
  <include file="$(find artificial_hands_bringup)/launch/servo_node.launch">
    <arg name="sim" default="true"/>
    <arg name="control_rate" default="500"/>
    <arg name="control_type" default="velocity"/>
  </include>

  <!-- Load dmp_extended node -->
  <include file="$(find dmp_extended)/launch/dmp_node.launch"/>

  <!-- Run the frame kinematics node -->
  <node pkg="artificial_hands_base" type="frame_kinematics_node" name="frame_kinematics_node" output="screen" args="--autostart true"/>

  <!-- rqt plot -->
  <node pkg="rqt_gui" type="rqt_gui" name="rqt_plot_dmp" output="screen" args="--perspective-file $(find artificial_hands_bringup)/etc/dmp.perspective"/>

  <!-- Load node to forward dmp commands -->
  <!-- <node pkg="artificial_hands_py" type="dmp_extended_servo_node.py" name="dmp_extended_servo_node" output="screen" launch-prefix="xterm -e" /> -->

</launch>