<?xml version="1.0"?>
<launch>

  <arg name="fake_ft" default="true" />

  <!-- Load filter param for wrist dynamics -->
  <rosparam command="load" file="$(find artificial_hands_bringup)/config/wrist_dynamics_filters.yaml"/>

  <!-- Run the wrist dynamics node -->
  <node pkg="wrist_frame_dynamics" type="wrist_dynamics_node" name="wrist_dynamics_node" output="screen" args="--autostart true"/>

  <!-- Bringup the FT sensor (fake or real hw)-->
  <node if="$(arg fake_ft)" pkg="artificial_hands_nodes" type="fake_ft_sensor_node.py" name="fake_ft_sensor" output="screen"/>
  <include unless="$(arg fake_ft)" file="$(find artificial_hands_bringup)/launch/onrobot_ft_sensor_bringup.launch"/>

  <!-- Load dmp_extended node -->
  <include file="$(find dmp_extended)/launch/dmp_node.launch"/>

  <!-- Run the trajectory generator node -->
  <node pkg="artificial_hands_nodes" type="cartesian_trajectory_generator_node.py" name="cartesian_trajectory_generator_node" output="screen"/>

  <!-- Run the trajectory monitor node -->
  <node pkg="artificial_hands_nodes" type="cartesian_trajectory_tf_monitor_node.py" name="cartesian_trajectory_tf_monitor_node" output="screen"/>

  <!-- Run the low level engine node -->
  <node pkg="artificial_hands_nodes" type="fake_low_level_engine_node.py" name="fake_low_level_engine_node" output="screen"/>

</launch>