<?xml version="1.0"?>
<launch>

  <arg name="sim" default="true" />
  <arg name="hand_cmd" default="false" />

  <!-- Load dmp_extended node -->
  <include file="$(find dmp_extended)/launch/dmp_node.launch"/>

  <!-- Run the trajectory generator node -->
  <node pkg="artificial_hands_nodes" type="cartesian_trajectory_generator_node.py" name="cartesian_trajectory_generator_node" output="screen"/>

  <!-- Run the trajectory monitor node -->
  <node pkg="artificial_hands_nodes" type="cartesian_trajectory_tf_monitor_node.py" name="cartesian_trajectory_tf_monitor_node" output="screen"/>

  <!-- Remap controllers as needed -->
  <remap if="$(arg sim)" from="scaled_pos_joint_traj_controller" to="pos_joint_traj_controller"/>
  <remap if="$(arg sim)" from="mia_hand/scaled_pos_joint_traj_controller" to="pos_joint_traj_controller"/>

  <!-- Run the arm/robot commander gui node -->
  <node if="$(arg hand_cmd)" pkg="artificial_hands_nodes" type="robot_commander_gui_node.py" name="robot_commander_gui_node" output="screen"/>
  <node unless="$(arg hand_cmd)" pkg="artificial_hands_nodes" type="arm_commander_gui_node.py" name="arm_commander_gui_node" output="screen"/>

</launch>