<?xml version="1.0"?>
<launch>

  <arg name="sim" default="true"/>
  <arg name="ee_frame" default="ft_sensor_frame" doc="The name of the end effector link, used to return the EE pose."/>
  <arg name="command_frame" default="ft_sensor_frame" doc="Commands must be given in the frame of a robot link."/>
  <arg name="reference_frame" default="base_link" doc="Pose reference frame."/>
  <arg name="control_rate" default="500" doc="Set the correct publish rate for sending commands (in Hz)"/>
  <arg name="control_type" default="velocity" doc="Choose frome joint position, velocity, pos_trajectory or vel_trajectory control"/>
  <arg name="group_name" default="manipulator" doc="Choose the move_group to control"/>
  <arg name="ns" default="servo_node" doc="Choose a namespace"/>

  <!-- Load all required params -->
  <rosparam file="$(find artificial_hands_bringup)/config/servo_config.yaml" command="load" ns="$(arg ns)"/>

  <!-- Overwrite command type and command frame related params -->
  <group ns= "$(arg ns)" >

    <param name="use_gazebo" value="$(arg sim)"/>
    <param name="publish_period" value="$(eval 1/arg('control_rate'))" />
    <param name="ee_frame_name" value="$(arg ee_frame)" />
    <param name="robot_link_command_frame" value="$(arg command_frame)" />
    <param name="planning_frame" value="$(arg reference_frame)" />
    <param name="move_group_name" value="$(arg group_name)"/>
    
    <!-- Joint group position control -->
    <group if="$(eval arg('control_type') == 'position')" >
      <param name="command_out_type" value="std_msgs/Float64MultiArray"/>
      <param name="command_out_topic" value="/joint_group_pos_controller/command"/>
      <param name="publish_joint_positions" value="true"/>
      <param name="publish_joint_velocities" value="false"/>
      <param name="publish_joint_accelerations" value="false"/>
    </group>

    <!-- Joint group velocity control -->
    <group if="$(eval arg('control_type') == 'velocity')" >
        <param name="command_out_type" value="std_msgs/Float64MultiArray"/>
        <param name="command_out_topic" value="/joint_group_vel_controller/command"/>
        <param name="publish_joint_positions" value="false"/>
        <param name="publish_joint_velocities" value="true"/>
        <param name="publish_joint_accelerations" value="false"/>
    </group>

    <!-- Joint trajectory position control -->
    <group if="$(eval arg('control_type') == 'pos_trajectory')" >
      <param name="command_out_type" value="trajectory_msgs/JointTrajectory"/>
      <param name="command_out_topic" value="/pos_joint_traj_controller/command"/>
      <param name="publish_joint_positions" value="true"/>
      <param name="publish_joint_velocities" value="false"/>
      <param name="publish_joint_accelerations" value="false"/>
    </group>    

    <!-- Joint trajectory velocity control -->
    <group if="$(eval arg('control_type') == 'vel_trajectory')" >
      <param name="command_out_type" value="trajectory_msgs/JointTrajectory"/>
      <param name="command_out_topic" value="/vel_joint_traj_controller/command"/>
      <param name="publish_joint_positions" value="true"/>
      <param name="publish_joint_velocities" value="true"/>
      <param name="publish_joint_accelerations" value="false"/>
    </group> 
  
  </group>

  <!-- Load moveit servo server for mia_hand_on_ur5 robot -->
  <node name="$(arg ns)" pkg="moveit_servo" type="servo_server" output="screen"/>

</launch>
