<?xml version="1.0"?>
<launch>

  <arg name="sim" default="true" />
  <arg name="robot_ip" default="192.168.1.7" doc="specify robot IP address"/>
  <arg name="kinematics_config" default="$(arg robot_ip)" doc="specify robot calibration IP address"/>
  <arg name="ur_robot" default="ur10e" doc="choose robot type: ur5, ur10e" />

  <group if="$(arg sim)">

    <!-- Make use of UR robot bringup from ur_gazebo-->
    <include file="$(find ur_gazebo)/launch/$(arg ur_robot)_bringup.launch" >
      <arg name="robot_description_file" value="$(find artificial_hands_bringup)/launch/inc/load_mia_hand_on_$(arg ur_robot).launch.xml" />
      <arg name="stopped_controllers" value="joint_group_pos_controller" />
      <arg name="kinematics_params" value="$(find artificial_hands_bringup)/config/kinematics_config_$(arg kinematics_config).yaml" />
    </include>

  </group>

  <group unless="$(arg sim)">

    <!-- Make use of UR robot bringup from ur_robot_driver-->
    <include file="$(find ur_robot_driver)/launch/$(arg ur_robot)_bringup.launch" >
      <arg name="robot_ip" value="$(arg robot_ip)" />
      <arg name="kinematics_config" value="$(find artificial_hands_bringup)/config/kinematics_config_$(arg kinematics_config).yaml" />
      <arg name="robot_description_file" value="$(find artificial_hands_bringup)/launch/inc/load_mia_hand_on_$(arg ur_robot).launch.xml" />
      <arg name="controllers" default="joint_state_controller scaled_pos_joint_traj_controller force_torque_sensor_controller"/>
      <arg name="stopped_controllers" default="joint_group_vel_controller"/>
    </include>
  
  </group>

  <!-- Load robot SRDF to the parameter server -->
  <arg name="moveit_config" value="mia_hand_on_$(arg ur_robot)_moveit_config" />
  <arg name="srdf_path" value="/config/mia_hand_on_$(arg ur_robot).srdf"/>
  <param name="/robot_description_semantic" type="str" textfile="$(eval find(moveit_config)+srdf_path)"/>

  <!-- Load other ur controllers to parameter server -->
  <rosparam file="$(find artificial_hands_bringup)/config/control/ur_controllers.yaml" command="load"/>

  <!-- Spawn stopped ur controllers -->
  <node name="cartesian_ctrl_spawner" pkg="controller_manager" type="spawner" output="screen" args="--stopped cartesian_motion_position_controller" />

  <!-- Load gui -->
  <node name="rqt_joint_trajectory_controller" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" />

</launch>