<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="sim" default="true" />
  <arg name="debug" default="false" />

  <!-- Remap Mia hand hw controllers -->
  <remap unless="$(arg sim)" from="/mia_hand/mia_hand_vel_trajectory_controller" to="/mia_hand_vel_trajectory_controller" />

  <!-- Launch moveit -->
  <include file="$(find mia_hand_on_ur5_moveit_config)/launch/move_group.launch">
    <arg name="debug" default="$(arg debug)" />
    <arg name="moveit_controller_manager" default="mia_hand_on_ur5" />
  </include>

</launch>